<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn JS IIFE</title>
</head>

<body>
    <h1>Welcome to IIFE Tuts</h1>
    <p>This is iife style of writing web server</p>
    <div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi, maiores? Alias commodi magnam cupiditate
            sapiente possimus vel dolorum excepturi natus, vitae magni necessitatibus atque deserunt neque eveniet eius
            autem rem!</p>
    </div>
</body>

</html>